*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto Mono', monospace;
}

.text-primary{
    color: #980303;
}

p{
    margin: 0.75rem 0;
}

#navbar{
    background: #333333;
    color: aliceblue;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a{
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: darkred;
    border-radius: 3px;
}


#navbar a{
    color: #ffffff;
    text-decoration: none;
}

#logo{
    font-size: larger;
}

#showcase {
    background: url("/Projekt2/fotky/Screenshot_fus_nissan_skyline_samstag_abend_protojoe_modern_27-2-122-16-11-38.png");
    height: 100vh;
    color: white;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background: rgba(1, 1, 1, 0.5);
}

.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: white;
    background: darkred;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    background: red;
}

.btn-dark{
    background: dimgrey;
    color: white;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center{
    text-align: center;
}


.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.py-1{
    padding: 1.5rem 0;
}

.py-2{
    padding: 2rem 0;
}


.py-3{
    padding: 3rem 0;
}


#what .items{
    display: flex;
    padding: 1rem;
}

#what .item{
    text-align: center;
    padding: 1rem;
    flex: 1;
}


#what .items .item i {
    background: #333333;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}


.bg-light{
    background: aliceblue;
    color: black;
}

.bg-dark{
    background: black;
    color: aliceblue;
}
.list{
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0.5rem;
    border-bottom: red dotted 1px;
}

#who {
    display: flex;
}

#who div{
    flex: 1;
}

#who .who-img{
    background: url("../fotky/Screenshot_as_audi_abt_rs6r_2021_acu_yasmarina_20-1-122-21-14-50.png") no-repeat center center/cover;
}

#project {
    display: flex;
}
#project .project-img{
    background: url("../fotky/Screenshot_actr_bmw_m4_cs_st_showroom05_7-7-122-16-36-59.png") no-repeat center center/cover;
}
#project div{
    flex: 1;
}
#images .items{
    display: flex;
    justify-content: space-between;
}
#images .items img{
    display: block;
    margin: auto;
    width: 80%;
}
#contact{
    display: flex;
}
#contact div{
    flex: 1;
}
#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contact-form label{
    display: block;
    margin-bottom: 3px;
}
#contact .contact-form input,
#contact .contact-form textarea{
    width: 100%;
    padding: 0.5rem;
}
#contact h3{
    margin-top: 2rem;
}
